header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: goldenrod;
    text-decoration: underline;
    font-size: 23px;
}

.pie{
    background: url(img/bg.jpg);
    color: white;
    text-align: center;
    padding: 40px;
    font-size: 13px;
}
